/*le cambio color a mi header*/
.menu{
    background-color: rgb(243, 215, 220);
}
/*Le cambio color a mi footer*/
.pie{
    background-color: rgba(221, 220, 220, 0.518);
}
.cardsCursos{
    background-color: rgba(228, 189, 214, 0.493);
}
.photo-container {
    background-color: rgba(243, 215, 220, 0.333);
}
.cardsProductos{
    background-color: rgba(228, 189, 214, 0.493);
}