/*CLASS PARA CENTRAR MEJOR LAS CARDS DE LA PAGINA DE CURSOS*/
.cardCursos{
    padding: 25px;
    margin: 15px;
}

.parrafoCursos{
    font-size: 25px;
    text-align: center;
}
/*ESTILOS PARA PAGINAS/CURSOS/CURSOCOMERTOLOGIA, ETC.*/
.cardsCursos{
    font-size: 35px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(228, 189, 214, 0.493);

}
.parrafoscursos{
    font-size: 15px;
    text-align: center;
    padding: 10px;
}