@import "colores";
@import "cursos";
@import "productos";
@import "nosotros";
@import "avales";
@import "footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: 62.5%;
}
@media (min-width: 219px) and (max-width:430px){
    .iconoPais{
        width: 30px;
        height: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .iconosPaises{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    .sectionPaises{
        margin: 10px;
    }
    .tituloNosotros{
        font-size: 15px;
        padding: 5px;
        margin: 5px;
        }
        .parrafoNosotros{
            font-size: 10px;
            margin: 5px;
            padding: 5px;
            text-align: center;
        }
        .zoom {
            transition: transform .2s; 
            width: 300PX;
            height: 300px;
            

        }
         
        .zoom:hover {
            transform: scale(1.5); 
        }
        .photo-container {
            display:inline-block;
            margin: 5px;
            padding: 5px;
            background-color: rgba(243, 215, 220, 0.333);
        }

        .cardsCursos{
            font-size: 15px;
            text-align: center;
            margin: 5px;
            padding: 5px;
            background-color: rgba(228, 189, 214, 0.493);
        
        }
        .parrafoscursos{
            display: flex;
            font-size:15px;
            margin: 5px;
            padding: 5px;
            text-align: center;
        }

        .cardCursos{
            padding: 15px;
            margin: 10px;
        }

        .cardsProductos{
            font-size: 15px;
            text-align: center;
            padding: 10px;
            margin: 10px;
        }

        .parrafoProductos{
            font-size: 10px;
            text-align: center;
        }

        .parrafoRedes{
            font-size: 10px;}
    
}